<div class="app">
    <div class="header">
        <div class="grid wide">
            <div class="row">
                <div class="col">
                    <div class="header__wrapper">
                        <div class="header__utilities">
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-facebook-f header__utilities-item--icon "></i>
                            </a>
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-twitter header__utilities-item--icon"></i>
                            </a>
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-google header__utilities-item--icon"></i>
                            </a>
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-linkedin-in header__utilities-item--icon"></i>
                            </a>
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-flickr header__utilities-item--icon"></i>
                            </a>
                            <a href="" class="header__utilities-item">
                                <i class="fab fa-skype header__utilities-item--icon"></i>
                            </a>
                        </div>
                        <div class="header__logo">
                            <a href="">
                            <img src="//theme.hstatic.net/1000098760/1000382909/14/logo.png?v=32" alt="">
                            </a>
                        </div>
                        <div class="header__control"> 
                            <div class="header__control-wrapper">
                                <div class ="header__control-user">
                                    <i class="fas fa-user header__control-icon"></i>
                                    <ul class="header__control-user--list">
                                        <li class="header__control-user--item">
                                        <a href="">Đăng ký</a> </li>
                                        <li class="header__control-user--item">
                                        <a href="">Đăng nhập</a> </li>
                                        <li class="header__control-user--item">
                                        <a href="">Giỏ hàng</a> </li>
                                        <li class="header__control-user--item">
                                        <a href="">Thanh toán</a> </li>
                                    </ul>
                                </div>
                                <div class="header__control-cart-wrapper">
                                    <i class="fas fa-cart-plus header__control-icon--cart"></i>
                                    <span class="header__control-total">
                                        0đ<i class="fas fa-angle-down header__control-icon--total">
                                        </i> 
                                    </span>
                                    <ul class="header__control-cart-list">
                                        <span class="header__control-cart--text"> Giỏ hàng của bạn đang trống <br />Tiếp tục  mua hàng</span>
                                    </ul>
                                    <div class="header__control-count">
                                        0
                                    </div>
                                </div>
                            </div>      
                            <div class="header__control-hotline">
                                <span >
                                    Hotline hỗ trợ
                                </span>
                                <span class="header__control-second">
                                    1900.636.099
                                </span>
                            </div>
                        
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

    <div class="navbar_">
        <div class="grid wide">
            <div class="row">
              <div class="col">
                <div class="menu">
                    <button  class="menu__icon" onclick="myFunction()">
                        MENU
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="menu__list list-style"  >
                        <li class="menu__list-item"> <a href="">
                            TRANG CHỦ
                        </a> </li>
                        <li class="menu__list-item"> <a href="">
                            RAU CỦ<i class="fas fa-angle-down header__control-icon--down"></i>  </a> 
                            <ul class ="menu-sub">
                                <li class = menu-sub-item>
                                    <i class="fas fa-chevron-right menu-sub--ibefore"></i>  
                                    <a href="" class="menu-sub--link-1">Rau ăn hoa quả</a>
                                    <i class="fas fa-chevron-right menu-sub--iafter"></i>
                                    <ul class="menu-sub--sub">
                                        <li class="menu-sub--sub-item">
                                            <a href=""> Bầu Sầu</a>
                                        
                                        </li>
                                        <li class="menu-sub--sub-item">
                                            <a href=""> Dưa leo</a>
                                        
                                        </li>
                                        <li class="menu-sub--sub-item">
                                        <a href="">Cà chua</a>
                                        </li>
                                        <li class="menu-sub--sub-item">
                                            <a href=""> Bông atiso</a>
                                        
                                        </li>
                                        <li class="menu-sub--sub-item">
                                        <a href="">Khổ qua</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class = menu-sub-item>
                                    <i class="fas fa-chevron-right menu-sub--ibefore"></i>  
                                    <a href="" class="menu-sub--link-2">Rau ăn lá</a>
                                    <i class="fas fa-chevron-right menu-sub--iafter"></i>
                                </li>
                                <li class = menu-sub-item>
                                    <i class="fas fa-chevron-right menu-sub--ibefore"></i>  
                                    <a href="" class="menu-sub--link-3">Rau ăn thân củ</a>
                                    <i class="fas fa-chevron-right menu-sub--iafter"></i>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__list-item"> <a href="">
                            TRÁI CÂY<i class="fas fa-angle-down header__control-icon--down"></i></a>
                            <ul class ="menu-sub">
                                <li class = menu-sub-item>
                                    <i class="fas fa-chevron-right menu-sub--ibefore"></i>  
                                    <a href="" class="menu-sub--link-1">Trái cây Việt Nam </a>
                                    <i class="fas fa-chevron-right menu-sub--iafter"></i>
                                </li>
                                <li class = menu-sub-item>
                                    <i class="fas fa-chevron-right menu-sub--ibefore"></i>  
                                    <a href="" class="menu-sub--link-2">Trái Cây Nhập khẩu</a>
                                    <i class="fas fa-chevron-right menu-sub--iafter"></i>
                                </li>
                            
                            </ul>
                        </li>
                        <li class="menu__list-item"> <a href="">
                            TIN TỨC
                        </a> </li>
                        <li class="menu__list-item"> <a href="">
                            GIỚI THIỆU
                        </a> </li>
                        <li class="menu__list-item"> <a href="">
                            LIÊN HỆ
                        </a> </li>
                    </ul>
                    <ul class="search">
                        <div class="search-title">
                            <input type="text" class="search-input" placeholder="Tìm kiếm">
                            <button>
                                <i class="fas fa-search search-key"></i>
                            </button>
                            
                        </div>
                        
                    </ul>
                </div>
              </div> 
            </div>
        </div>
    </div>
    <ul id="dropdownMenu" class = "menu__list-2 ">
            <li class = "menu__list-2-item">
            <a href="">Trang chủ</a></li>
            <li class ="menu__list-2-item">
                <div><a href =""class ="menu__list-2-item--link"> Rau củ </a></div>
                <div> <i class="fas fa-angle-down menu__list-2--icon"></i></div>
                <!-- <ul class="menu__list-2-item-ul list-style">
                    <li class="menu__list-2-item-li"><a href=""> Rau ăn hoa quả</a></li>
                    <li class="menu__list-2-item-li"><a href=""> Rau ăn lá</a></li>
                    <li class="menu__list-2-item-li"><a href=""> Rau ăn thân củ</a></li>
                </ul> -->
            </li> 
            <li class ="menu__list-2-item">
            <a href =""> Trái cây </a><i class="fas fa-angle-down menu__list-2--icon"></i>
            </li>
            <li class ="menu__list-2-item">
            <a href =""> Tin tức </a></li> 
            <li class ="menu__list-2-item">
            <a href =""> Giới thiệu </a></li>
            <li class ="menu__list-2-item">
            <a href =""> Liên hệ </a></li> 
    </ul>
               
    <div class="slide">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                
                <img class="d-block w-100 carousel-img" src="//theme.hstatic.net/1000098760/1000382909/14/slideshow_2.jpg?v=32" alt="First slide">
                
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carousel-img" src="//theme.hstatic.net/1000098760/1000382909/14/slideshow_2.jpg?v=32" alt="Second slide">
                
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carousel-img" src="//theme.hstatic.net/1000098760/1000382909/14/slideshow_3.jpg?v=32" alt="Third slide">
                
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="slide__list grid wide">
                <div class="slide__content ">
                    <div class ="grid wide">
                        <div class="row">
                            <div class="quote wow fadeInUp  col l-3 m-6 c-12" data-wow-delay="0.65s">
                                <div class="slide__item-wrapper">
                                    <img src="http://theme.hstatic.net/1000098760/1000382909/14/information_1.jpg" class="slide__list-image" alt="">
                                    <h5 class="slide__title-first " >SALAD</h5>
                                    <h5 class="slide__title-second"> NGON MỖI NGÀY</h5>
                                    <p class="slide__para">Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ...</p>
                                </div>
                            </div>
                            <div class="quote wow fadeInUp  col l-3 m-6 c-12" data-wow-delay="0.8s">
                                <div class="slide__item-wrapper">
                                    <img src="http://theme.hstatic.net/1000098760/1000382909/14/information_2.jpg?v=32" class="slide__list-image" alt="">
                                    <h5 class="slide__title-first" >THỰC PHẨM HỮU CƠ
                                        </h5>
                                    <h5 class="slide__title-second">  XANH - SẠCH MỖI NGÀY</h5>
                                    <p class="slide__para">Viết vài dòng giới thiệu với khách hàng về cửa hàng của bạn (các loại sản phẩm bạn bán, thương...</p>
                                </div>
                            </div>
                            <div class="quote wow fadeInUp  col l-3 m-6 c-12" data-wow-delay="1s">
                                <div class="slide__item-wrapper">
                                    <img src="http://theme.hstatic.net/1000098760/1000382909/14/information_3.jpg?v=32" class="slide__list-image" alt="">
                                    <h5 class="slide__title-first" >TRÁI CÂY
                                        </h5>
                                    <h5 class="slide__title-second"> NHẬP KHẨU 100%</h5>
                                    <p class="slide__para">Viết vài dòng giới thiệu với khách hàng về cửa hàng của bạn (các loại sản phẩm bạn bán, thương...</p>
                                </div>
                            </div>
                            <div class="quote wow fadeInUp  col l-3 m-6 c-12" data-wow-delay="1.2s">
                                <div class="slide__item-wrapper">
                                    <img src="http://theme.hstatic.net/1000098760/1000382909/14/information_4.jpg?v=32" class="slide__list-image" alt="">
                                    <h5 class="slide__title-first" >LỢI ÍCH CỦA
                                        </h5>
                                    <h5 class="slide__title-second"> THỰC PHẨM SẠCH</h5>
                                    <p class="slide__para">Viết vài dòng giới thiệu với khách hàng về cửa hàng của bạn (các loại sản phẩm bạn bán, thương...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
    </div>
    <div class="bg-white">
    </div>
</div>
